/* Buttons, cards, and reusable components */

/* hero element
.hero-element {
    display: block;
    width: 10rem;
    height: 10rem;
} */

/* hero copy block */

/* .flex-container-1 {
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.flex-container-1 h1 {
    font-size: 5rem;
    text-align: center;
}
 
.flex-container-1 h2 {
    font-size: 4rem;
    text-align: center;
} */
