/* Styles for header & footer */

/*__HEADER_START__*/
.site-header {
    background-color: inherit;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.5); /* Layered shadow for depth */
    z-index: 1000;
 }

 .site-header-container, .logo, .logo-wrapper, .navigation, .navigation ul {
    display: flex;
 }

 .site-header-container {
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
 }
 
 .logo-wrapper, .navigation {
    padding: 1rem;
 }
 
 .logo { /* add svg image */
    flex: nowrap;
 }
 
 .logo a, .navigation ul li a {
    text-decoration: none; /* Remove underline */
    color: white; 
    font-weight: bold;
    font-size: 3rem;
 }

 .logo-wrapper {
    align-items: center;
 }
 
 .navigation {
    justify-content: flex-end;
 }
 
 .navigation ul {
    list-style: none;
    gap: 4rem;
    padding: 0;
    margin: 0;
 }
 
 /*__FOOTER_START__*/
 .site-footer {
   background-color: black;
   z-index: 1000;
 }

 .site-footer-wrapper {
     display: grid;
     grid-template-rows: repeat(2, auto-fit);
 }

 .site-footer-container, .site-footer-container ul, 
 .social-media-footer {
   display: flex;
   justify-content: center;
   align-content: center;
   padding: 0rem;
   margin: 0rem;
 }

 .site-footer-container {
   grid-row: 1;
   padding-top: 0rem;
 }

 .site-footer-container a {
   text-decoration: none;
   color: white; 
   font-size: 2rem;
 }

 .site-footer-container ul {
   list-style: none;
   gap: 4rem;
 }

 .social-media-footer {
   grid-row: 2;
 }

 .social-media-footer img {
   height: 10rem;
   width: 10rem;
   padding: 0;
   margin: 0;
 }
 /*__FOOTER_END__*/

