/* Defining the visual design | colors, font, branding */

/*__FONTS__*/

@font-face { /* Fjalla One - Regular */
    font-family: "Fjalla One";
    src: url(../assets/fonts/Fjalla_One/FjallaOne-Regular.woff2) format(woff2),
        url(../assets/fonts/Fjalla_One/FjallaOne-Regular.woff) format(woff);
}

@font-face { /* Roboto - Regular */
    font-family: "Roboto";
    src: url(../assets/fonts/Roboto/Roboto-Black.woff2) format(woff2),
        url(../assets/fonts/Roboto/Roboto-Black.woff) format(woff);
}

html, body {
    font-size: 62.5%; /* 62.5% trick: 1rem = 10px for easier scaling */
}

body h1, h2 {
    font-family: "Fjalla One";
}

body h3, h4, h5, h6, p {
    font-family: "Roboto";
}

/* COLORS */
html, body {
    background-color: #542746;
    color: white;
}