<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>Nolan Young | <%= title || "Portfolio Website" %></title>
  
  <link rel="stylesheet" href="/styles/global-styles.css" />
  <link rel="stylesheet" href="/styles/header-footer.css" />
  <link rel="stylesheet" href="/styles/<%= pageStyle %>.css" />
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
