<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>

    <body>
        <%- include("partials/header") %>
            <main class="case-study-page">
                <!-- HERO -->
                <article class="hero-case-study">
                    <header class="module__title">
                        <h1>SEO Audit</h1>
                        <h2>Case Study</h2>
                    </header>
                </article>
                <section class="sticky-nav-scope u-span-2">
                    <!-- STICKY NAV -->
                    <nav class="module grid--1 u-span-2 sticky-nav" id="stickyNav">
                        <ul class="sticky-nav__list">
                            <li><a class="sticky-nav__link" href="#overview">Overview</a></li>
                            <li class="sticky-nav__sep ">&bull;</li>
                            <li><a class="sticky-nav__link" href="#module2">Module 2</a></li>
                            <li class="sticky-nav__sep ">&bull;</li>
                        </ul>
                    </nav>
                    <!-- MODULE 1 -->
                    <!-- GOAL & DATA -->
                    <article class="module column-1 u-align-content-start">
                        <header class="u-flex-center" id="goal-statement__title">
                            <h2>
                                <strong class="token--gold">GOAL</strong>
                            </h2>
                        </header>
                        <section class="u-flex-left" id="goal-statement">
                            <p>
                                P
                            </p>
                        </section>
                    </article>
                    <article class="module column-2 u-align-content-start">
                        <header class="u-flex-center" id="data-statement__title">
                            <h2>
                                <strong class="token--gold">DATA</strong>
                            </h2>
                        </header>
                        <section class="u-flex-left" id="data-statement">
                            <p>
                                MENTION: The "phone" data in the CrUX report only reflects usage on Android devices
                                <br>
                                Data here is directional, to be used in combination with tarffic-audit
                            </p>
                        </section>
                    </article>

                    <!-- MODULE 2 -->
                    <!-- LCP INP CLC -->
                    <article class="module grid--6 u-span-2" id="core-web-vitals">
                        <header class="module__title u-span-6">
                            <h2>
                                Core Web Vitals
                            </h2>
                        </header>
                        <!-- CHARTS -->
                        <figure class="chart u-span-6">
                            <p>
                                STACKED BAR CHART: 100% - "GOOD SHARE" vs NOT GOOD
                                <br>
                                LCP (Largest Contentful Paint) — aim < 2.5s <br>
                                    INP (Interaction to Next Paint) — aim < 200ms <br>
                                        CLS (Cumulative Layout Shift) — aim < 0.1 </p>
                        </figure>
                    </article>

                    <!-- MODULE 3 -->
                    <!-- Search Enginge Results Page (SERP) -->
                    <article class="module grid--6 u-span-2" id="SERP">
                        <header class="module__title u-span-6">
                            <h2>
                                SERP
                            </h2>
                        </header>
                    </article>
                </section>

                <!-- CTA -->
                <section class="u-span-2 u-flex-center">
                    <a href="/traffic-audit" class="btn btn--animated btn--wiggle">
                        Traffic Audit Analysis
                    </a>
                </section>


            </main>
            <%- include('partials/footer') %>
                <script type="module" src="/scripts/seo-audit.js"></script>

    </body>

</html>