<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>

    <body>
        <%- include("partials/header") %>
            <main class="case-study-page">
                <!-- HERO -->
                <article class="hero-case-study">
                    <header class="module__title">
                        <h1>SEO Audit</h1>
                        <h2>Case Study</h2>
                    </header>
                </article>
                <section class="sticky-nav-scope u-span-2">
                    <!-- STICKY NAV -->
                    <nav class="module grid--1 u-span-2 sticky-nav" id="stickyNav">
                        <ul class="sticky-nav__list">
                            <li class="sticky-nav__link" href="#overview"><a>Overview</a></li>
                            <li class="sticky-nav__sep ">&bull;</li>
                            <li class="sticky-nav__link" href="#MOD2"><a>Module 2</a></li>
                            <li class="sticky-nav__sep ">&bull;</li>
                        </ul>
                    </nav>
                </section>






            </main>
            <%- include('partials/footer') %>
                <script type="module" src="/scripts/seo-audit.js"></script>

    </body>

</html>