<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>

    <body>
        <%- include("partials/header") %>

            <main class="traffic-audit">

                <div class="page-title-grid">
                    <div class="page-title-flex">
                        <h1>Traffic Audit Comparison</h1>
                    </div>
                </div>
                <div class="goal-statement-flex">
                    <h3>
                        <strong id="goal">GOAL: </strong>Provide a data-driven audit of two retail brands'
                        website
                        performance — Company A and Company B — and provide recommendations for strategic
                        improvements.
                    </h3>
                </div>
                <div class="data-statement-flex">
                    <h3>
                        <strong id="data">DATA: </strong>Sourced from Similarweb API via Postman with raw
                        JSON
                        data
                        exported and integrated server-side using Express routes and Embedded JavaScript (EJS).
                    </h3>
                </div>

                <div class="traffic-comparison-chart-grid">
                    <div class="traffic-comparison-chart-flex">
                        <canvas id="traffic-comparison-chart-canvas"></canvas>
                        <script id="traffic-comparison-chart-script" type="application/json">
                            <%- JSON.stringify({
                                labels,
                                companyATrafficValues,
                                companyBTrafficValues
                            }) %>
                        </script>
                        <script src="/scripts/traffic-audit.js"></script>
                    </div>
                </div>
                

                
            </main>
            <%- include('partials/footer') %>
    </body>

</html>