/*__HOMEPAGE__*/

/* Extra Large Devices (Large Desktops and Monitors) */
@media (min-width: 1441px) {

    .hero-homepage-container,
    .module-1-homepage-container,
    .module-2-homepage-container {
        margin-left: 30rem;
        margin-right: 30rem;
    }

    .grid-item-5 {
        /*__module_1_blocks__*/
        grid-row: 2;
        grid-template-columns: repeat(6, 0.25fr) !important;
        grid-template-rows: .25fr !important;
        flex-direction: row;
    }

    .grid-item-5>.flex-container-5 {
        grid-column: 1;
        grid-row: 1;
    }

    .grid-item-5>.flex-container-6 {
        grid-column: 2;
        grid-row: 1;
    }

    .grid-item-5>.flex-container-7 {
        grid-column: 3;
        grid-row: 1;
    }

    .grid-item-5>.flex-container-8 {
        grid-column: 4;
        grid-row: 1;
    }

    .grid-item-5>.flex-container-9 {
        grid-column: 5;
        grid-row: 1;
    }

    .grid-item-5>.flex-container-10 {
        grid-column: 6;
        grid-row: 1;
    }
}

/* Large Devices */
@media (min-width: 1025px) and (max-width: 1440px) {

    .hero-homepage-container,
    .module-1-homepage-container,
    .module-2-homepage-container {
        margin-left: 20rem;
        margin-right: 20rem;
    }

    .flex-container-marquee {
        min-height: 26rem;
    }

    .flex-container-5,
    .flex-container-7,
    .flex-container-9 {
        margin-left: 5rem;
        border-radius: 3%;
    }

    .flex-container-6,
    .flex-container-8,
    .flex-container-10 {
        margin-right: 5rem;
        border-radius: 3%;
    }
}


/*__FLEX_GRID_LAYOUT__*/
.hero-homepage-container,
.module-1-homepage-container,
.module-2-homepage-container {
    display: grid;
    padding: 0rem 1rem;
    align-content: space-evenly;
}

.grid-item-2,
.grid-item-3,
.grid-item-4,
.grid-item-5,
.grid-item-6,
.grid-item-7 {
    display: grid;
}

.flex-container-1,
.flex-container-2,
.flex-container-3,
.flex-container-4,
.flex-container-5,
.flex-container-6,
.flex-container-7,
.flex-container-8,
.flex-container-9,
.flex-container-10,
.flex-container-11,
.flex-container-12,
.flex-container-subhead,
.flex-container-marquee,
.flex-container-button,
.flex-container-primary-cta {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 0rem;
}

/*__HERO_START__*/
.hero-homepage-container {
    grid-template-columns: 1fr;
    grid-template-rows: 12.5rem 12rem 1rem repeat(3, .5fr);
}

.grid-item-hero {
    grid-row: 1;
    width: 100%;
    height: auto;
}

.grid-item-marquee {
    grid-row: 2;
}

.grid-item-button {
    grid-row: 3;
}

.grid-item-subhead {
    grid-row: 4;
}

.grid-item-primary-cta {
    grid-row: 5;
}

.grid-item-secondary-cta {
    grid-row: 6;
    justify-items: stretch;
}

.flex-container-1 {
    flex-direction: column;
}

.flex-container-1 h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.flex-container-marquee {
    min-height: 16rem;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.flex-container-button {
    justify-content: flex-end;
    max-height: 1rem;
    position: relative;
    bottom: -5;
    right: -25;
}

.flex-container-subhead {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
    align-content: center;
    justify-content: center;
}


.flex-container-primary-cta {
    max-width: 35.5rem;
    margin: 0 auto;
}

.flex-container-secondary-cta {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 35.5rem;
    margin: 0 auto;

}

/*__HERO_END__*/

/*__MODULE_1_START__*/

/* MOBILE | 767px and below */
@media (max-width: 767px) {
    .module-1-homepage-container {
        grid-template-columns: 1fr;
        grid-template-rows: .15fr 1fr;

    }

    .grid-item-4 {
        grid-row: 1;
    }

    .grid-item-5 {
        /*__module_1_blocks__*/
        grid-row: 2;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, .25fr);
    }

    .grid-item-5>.flex-container-5 {
        grid-column: 1;
        grid-row: 2;
    }

    .grid-item-5>.flex-container-6 {
        grid-column: 2;
        grid-row: 2;
    }

    .grid-item-5>.flex-container-7 {
        grid-column: 1;
        grid-row: 3;
    }

    .grid-item-5>.flex-container-8 {
        grid-column: 2;
        grid-row: 3;
    }

    .grid-item-5>.flex-container-9 {
        grid-column: 1;
        grid-row: 4;
        margin-bottom: 0.5rem;
    }

    .grid-item-5>.flex-container-10 {
        grid-column: 2;
        grid-row: 4;
        margin-bottom: 0.5rem;
    }

    /* MODULE_1_END */
}



/* MODULE_2_START */
.module-2-homepage-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr;
}

.grid-item-6 {
    height: auto;
}

.flex-container-11 {
    text-align: center;
}

.grid-item-7 {
    margin-bottom: 0.5rem;
}

/* MODULE_2_END */


/*__HEADER_STYLING__new css file*/

/*__FOOTER_STYLING__new css file*/