* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--text);
    max-height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*__VARIABLES__*/
:root {
    /*_page-colors_*/
    --bg: #1F2A44;
    --bg--index: yellow;
    --text: #f5f5f5;

    /*_components_*/
    --card: rgba(255, 255, 255, 0.05);

    /*_branding-colors_*/
    --brand-a: #36a2eb;
    --brand-b: #ff6384;
    --accent: gold;

}

/*__FONTS__*/
@font-face {
    font-family: "Fjalla One";
    src: url(./fonts/Fjalla_One/FjallaOne-Regular.woff2) format(woff2),
        url(./fonts/Fjalla_One/FjallaOne-Regular.woff) format(woff);
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto/Roboto-Regular.woff2) format(woff2),
        url(./fonts/Roboto/Roboto-Regular.woff) format(woff);
}

html {
    font-size: 62.5%;
    /* 62.5% trick: 1rem = 10px for easier scaling */
}

h1 {
    font-family: "Fjalla One";
    font-size: 5rem;
    color: var(--text);
}

h2 {
    font-family: "Fjalla One";
    font-size: 3.5rem;
    color: var(--text);
}

h3,
h4,
h5,
h6,
p,
li,
a {
    font-family: "Roboto";
    font-size: 2rem;
    color: var(--text);
}

/*__MARGINS__*/
/* small mobile phones */
@media (max-width: 600px) {

    header,
    main {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

/* medium tablets */
@media (min-width: 601px) and (max-width: 768px) {

    header,
    main {
        margin-left: 10rem;
        margin-right: 10rem;
    }
}

/* tablets in landscape or small laptops */
@media (min-width: 769px) and (max-width: 1024px) {

    header,
    main {
        margin-left: 10rem;
        margin-right: 10rem;
    }
}

/* standard desktops and larger laptops */
@media (min-width: 1025px) and (max-width: 1440px) {

    header,
    main {
        margin-left: 12rem;
        margin-right: 12rem;
    }
}

/* extra large screens and 4K monitors */
@media (min-width: 1441px) {

    header,
    main {
        margin-left: 15rem;
        margin-right: 15rem;
    }

}