body {
    overflow-x: hidden;
}

main {
    background-color: #1F2A44;
}

li,
h2,
h3,
p {
    color: #f5f5f5;
}

/* full page layout */
.traffic-audit {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, auto);
    padding: 1rem 1rem;
    gap: 1rem;
}

.page-header {
    text-align: center;
    height: 3rem;
}

.page-title-flex h1 {
    font-size: 5rem;
    margin: 0;
}

@media (max-width: 375px) {
    .page-header-flex {
        margin: 2rem;
    }
}

.data-statement-grid {
    display: grid;
    grid-column: span 2;
    grid-row: 3;
}

.goal-statement-grid {
    display: grid;
    grid-column: span 2;
    grid-row: 2;
}

.goal-statement-flex,
.data-statement-flex,
.traffic-comparison-copy-flex {
    display: flex;
    place-items: center; 
    /* shorthand for align-items + justify-items */
    text-align: left;
}

.data-statement-flex {
    height: 50%;
}

#goal,
#data,
#more-sessions {
    color: gold;
}

#company-b {
    color: #ff6384;
}

#company-a {
    color: #36a2eb;
}

.traffic-comparison-chart-grid {
    grid-column: span 2;
    grid-row: 4;
}

canvas {
    width: 100%;
    height: auto;
    min-height: 30rem;
}

.traffic-comparison-chart-flex {
    position: relative;
    margin: auto;
    min-height: 30rem;
    max-width: 100%;
}

.traffic-comparison-copy-grid {
    display: grid;
    grid-column: span 2;
    grid-row: 5;
}

.traffic-source-companyA-chart-grid {
    grid-column: 1;
    grid-row: 6;

}

.traffic-source-companyA-chart-flex {
    position: relative;
    margin: auto;
    min-height: 30rem;
    max-width: 100%;
}

.traffic-source-companyB-chart-grid {
    grid-column: 2;
    grid-row: 6;
}

.traffic-source-companyB-chart-flex {
    position: relative;
    margin: auto;
    min-height: 30rem;
    max-width: 100%;
}


.audience-segment-chart-grid {
    grid-column: span 2;
    grid-row: 7;
}

.audience-segment-chart-flex {
    position: relative;
    margin: auto;
    min-height: 30rem;
    /* max-height: 100rem; */
    max-width: 100%;
}

/* mobile */
@media (max-width: 425px) {
    .traffic-audit {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    h1 {
        font-size: 3.5rem;
    }
}