/* === Bespoke & IDs === */
#goal-statement,
#data-statement {
    min-height: 14.5rem;
    min-width: 100%;
}

#goal-statement__title,
#data-statement__title {
    max-height: 4.5rem;
    text-align: center;
}

#key-point-title {
    font-family: "Fjalla One";
    font-size: 2.5rem;
}

#comp-a-traffic-sources {
    padding-right: 0.25rem;
}

#comp-b-traffic-sources {
    padding-left: 0.25rem;
}

#gender-segment-canvas {
    padding-right: 0.25rem;
}

#geo-segment-canvas {
    padding-left: 0.25rem;
}

#exec-summary h3 {
    padding-bottom: .5rem;
    text-transform: uppercase;
    align-content: flex-start;
    font-family: "fjalla one";
}

#exec-summary p {
    padding-bottom: 1rem;
}