/* === Base Styles === */
main {
    background-color: #1F2A44;
}

li,
h2,
h3,
p {
    color: #f5f5f5;
}

/* === Branding Colors === */
#company-a {
    color: #36a2eb;
}

#company-b {
    color: #ff6384;
}

#goal,
#data,
#more-sessions {
    color: gold;
}

/* === Grid Layout === */
.traffic-audit-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 1rem;
    gap: 1rem;
}

/* === Utility Classes === */
.column-full-span {
    grid-column: span 2;
}

.column-1 {
    grid-column: 1;
}

.column-2 {
    grid-column: 2;
}

.flex-center-left {
    display: flex;
    place-items: center;
    text-align: left;
}

.chart {
    position: relative;
    margin: auto;
    min-height: 30rem;
    max-width: 100%;
}

.copy {
    border: solid;
    border-color: white;
    border-width: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.1rem;
}

canvas {
    width: 100%;
    height: auto;
    min-height: 30rem;
}

.title {
    text-align: center;
    font-size: 3.5rem;
}

/* === Hero === */

/* === Modules === */
/* Module 1: Goal & Data */
/* Module 2: Sessions */
/* Module 3: Traffic Sources */
/* Module 4: Segments */
/* Module 5: Behavior */


/* MOBILE */
/* @media (max-width: 375px) {
    .traffic-audit-page {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    h1 {
        font-size: 3.5rem;
    }

     .hero {
        margin: 2rem;
    }
} */