/* ===== Reusable Components ===== */

/* Flex Alignment */
.u-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-flex-left {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.u-flex-baseline {
    display: flex;
    align-items: baseline;
    height: 100%;
}

/* span */
.u-span-2 {
    grid-column: span 2;
}

.u-span-3 {
    grid-column: span 3;
}

.u-span-6 {
    grid-column: span 6;
}

/* Text Alignment */
.u-text-center {
    text-align: center;
}

/* Brand tokens */
.token--blue {
    color: var(--brand-a);
}

.token--red {
    color: var(--brand-b);
}

.token--gold {
    color: var(--accent);
}

/* hide text, maintain sr & seo */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); /* Older browsers */
  clip-path: inset(50%); /* Modern browsers */
  border: 0;
}