/* Standardizing UI across portfolio-website | CSS Reset, Global Element Styles  */
/* Used at the beginning of a project to create a standardized baseline. */


/* Default Global Styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    box-sizing: border-box;
    overflow-x: hidden; 
}


